In [23]:
from read_data import read_data_from_csv
import numpy as np
import pandas as pd

raw_df = read_data_from_csv("../titanic.csv")
raw_df["Cabin"]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [24]:
age_filled_df = raw_df["Age"].fillna(29.699118)
age_filled_df.describe()

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [33]:
test_df = pd.DataFrame({"test_string_data": ["Testing", "one", "TWO", "ThreE"], "test_numbers": [1,2,3,4]})
expected_df = pd.DataFrame({"test_string_data": ["testing", "one", "two", "three"], "test_numbers": [1,2,3,4]})
expected_df

  test_string_data  test_numbers
0          testing             1
1              one             2
2              two             3
3            three             4

In [35]:
df_obj = expected_df.select_dtypes(["object"])
expected_df[df_obj.columns] = df_obj.apply(lambda x: x.str.lower())
expected_df

  test_string_data  test_numbers
0          testing             1
1              one             2
2              two             3
3            three             4

AttributeError: 'NoneType' object has no attribute 'str'